@windmill:registry=https://jfrog-artifacts.its.centric.lan/artifactory/api/npm/Centric-NPM-Dev/

@centric:registry=https://jfrog-artifacts.its.centric.lan/artifactory/api/npm/Centric-NPM-Dev/

//jfrog-artifacts.its.centric.lan/artifactory/api/npm/Centric-NPM-Dev/:_password=QVA3RUU1d1Brb1d0U0VNVDFwQk5wRG9xamF6

//jfrog-artifacts.its.centric.lan/artifactory/api/npm/Centric-NPM-Dev/:username=svc-build-jfrog

//jfrog-artifacts.its.centric.lan/artifactory/api/npm/Centric-NPM-Dev/:email=youremail@email.com

//jfrog-artifacts.its.centric.lan/artifactory/api/npm/Centric-NPM-Dev/:always-auth=true

//jfrog-artifacts.its.centric.lan/artifactory/api/npm/Centric-NPM-Dev/:_authToken=cmVmdGtuOjAxOjE3MzM4MzI3MDM6VjJtNkNpR2p2dWZqRHJqb3gxWE1FTGQwUHB4