<section>
  <p>Value: {{ autocompleteModel }}</p>
  <windmill-autocomplete
    [testInputId]="'id-input-autocomplete'"
    [listClass]="'class-list-autocomplete'"
    [hasClearIcon]="hasClearIcon"
    [placeholder]="'Write a fruit'"
    [id]="'id-input-element-autocomplete'"
    [options]="fruits"
    [(ngModel)]="autocompleteModel"
  >
  </windmill-autocomplete>
</section>
<section>
  <windmill-checkbox
    [(ngModel)]="ngModelIndeterminateCheckbox"
    [label]="labelValue"
    [indeterminate]="isIndeterminate"
    [id]="idValue"
  >
  </windmill-checkbox>
</section>

<section>
  <windmill-date-picker
    [ngModel]="ngModelDatePicker"
    [title]="'I am a date picker'"
    [id]="'id-input-element-date-picker'"
    [testInputId]="'demo-test-id-input'"
    [hasClearIcon]="hasClearIcon"
    [placeholder]="'Choose a date'"
    (ngModelChange)="onModelChange($event)"
  >
  </windmill-date-picker>

  <p>
    Your value: <b>{{ displayedValueExample }}</b>
  </p>
</section>

<section>
  <form [formGroup]="dropdownSearch">
    <windmill-dropdown-search
      formControlName="basicDropdownSearch"
      [dropdownPlaceholder]="'Select a color'"
      [listPlaceholder]="'Search a color'"
      [id]="'id-input-element-dropdown'"
      [testInputId]="'id-input-dropdown'"
      [testInputSearchId]="'id-input-dropdown-search'"
      [testListId]="'id-list-dropdown'"
      [source]="basicSource"
      (searchValueChange)="onSearchValueChanged($event)"
    >
    </windmill-dropdown-search>
  </form>

  <div class="demo-container-value">
    <p>Color:</p>
    <div
      *ngIf="dropdownSearch.get('basicDropdownSearch')?.value"
      class="demo-value-background"
      [style.background-color]="
        '#' + dropdownSearch.get('basicDropdownSearch')?.value
      "
    ></div>
  </div>
</section>

<section>
  <windmill-input
    [id]="'id-input-element'"
    [testInputId]="'id-input-demo'"
    [placeholder]="'Type something'"
    [title]="'This is a title'"
    [ngModel]="ngModelInput"
    (ngModelChange)="onModelChangeInput($event)"
  >
  </windmill-input>

  <p class="wrap-content">
    Input value: <b>{{ ngModelInput }}</b>
  </p>
</section>

<section>
  <centric-input-spinner2
    [(ngModel)]="inputSpinnerNgModelValue"
    [placeholder]="'Enter a number'"
    (ngModelChange)="onValueChangeSpinner($event)"
  >
  </centric-input-spinner2>

  <p>
    Input spinner value: <b>{{ inputSpinnerNgModelValue }}</b>
  </p>
</section>

<section>
  <p>What color are you?</p>

  <centric-radio-group
    [ngModel]="radioNgModel"
    [inline]="false"
    (ngModelChange)="changedGroupColorValue($event)"
  >
    <centric-radio
      *ngFor="let color of colors"
      [value]="color"
      [label]="color"
      [id]="'id-radio-color-' + color"
    >
    </centric-radio>
  </centric-radio-group>

  <p>
    Selected color: <b>{{ selectedColor }}</b>
  </p>
</section>

<section>
  <centric-button
    class="demo-button"
    [type]="'button-default'"
    [size]="'small'"
    (click)="updateValue()"
  >
    Update with '{{ selectSource[2] }}' value
  </centric-button>
  <windmill-select
    [(ngModel)]="preselectedValue"
    [source]="selectSource"
    [placeholder]="'Select a music genre'"
    [hasClearIcon]="hasClearIcon"
    (ngModelChange)="onModelChangeSelect($event)"
  >
  </windmill-select>

  <p>Select value: {{ preselectedValue }}</p>
</section>

<section>
  <p>Input id: <b>id-input-element-select-characters</b></p>
  <p>Data-testid input: <b>id-input-select-characters</b></p>
  <p>Data-testid icon: <b>id-icon-select-characters</b></p>
  <p>Data-testid tokens list: <b>id-tokens-list</b></p>
  <p>Data-testid accents: <b>id-accents-list</b></p>

  <windmill-select-characters
    [placeholder]="'Enter a value'"
    [title]="'I am a special input'"
    [id]="'id-input-element-select-characters'"
    [testInputId]="'id-input-select-characters'"
    [testIconId]="'id-icon-select-characters'"
    [testTokenListId]="'id-tokens-list'"
    [testAccentsListId]="'id-accents-list'"
    [(ngModel)]="ngModelSelectCharacters"
  >
  </windmill-select-characters>
</section>

<section>
  <centric-slide-toggle2
    label="Label"
    [id]="'id-input-element-slide-toggle-ng-model'"
    [(ngModel)]="slideToggleNgModel"
  ></centric-slide-toggle2>

  <p>
    ngModel value: <b>{{ slideToggleNgModel }}</b>
  </p>

  <form [formGroup]="toggleFormGroup">
    <centric-slide-toggle2
      label="Label"
      [id]="'id-input-element-slide-toggle-form-control'"
      formControlName="toggleFormControl"
    ></centric-slide-toggle2>
  </form>

  <p>
    formControl value:
    <b>{{ toggleFormGroup.get("toggleFormControl")?.value }}</b>
  </p>
</section>

<section>
  <p>
    ariaLabelSlider is set to <b>'{{ ariaLabelSlider }}'</b>
  </p>
  <p>
    ariaDescriptionSlider set to <b>'{{ ariaDescriptionSlider }}'</b>
  </p>

  <centric-mat-checkbox [(ngModel)]="isVertical"> </centric-mat-checkbox>

  <div class="slider-container">
    <centric-slider
      [vertical]="isVertical"
      [ariaLabelSlider]="ariaLabelSlider"
      [ariaDescriptionSlider]="ariaDescriptionSlider"
      [(ngModel)]="sliderModel"
    >
    </centric-slider>
  </div>
</section>

<section>
  <p>ariaLabel input set to: <b>'Add a comment'</b></p>
  <p>ariaDescription set to: <b>'This comment will be public'</b></p>
  <p>ariaLabelClearIcon set to: <b>'Clear value'</b></p>

  <centric-textarea2
    [(ngModel)]="textareaNgModelValueWithLabel"
    [ariaLabel]="'Add a comment'"
    [ariaDescription]="'This comment will be public'"
    [ariaLabelClearIcon]="'Clear value'"
    [placeholder]="'Add your comment here...'"
  >
  </centric-textarea2>

  <p class="wrap-content">
    Textarea value: <b>{{ textareaNgModelValueWithLabel }}</b>
  </p>

  <br />
  <p>
    ariaLabelledby text set to:
    <b>'<span id="id-labelledby-textarea">Add a comment</span>'</b>
  </p>
  <p>
    ariaDescribedby text set to:
    <b
      >'<span id="id-describedby-textarea">This comment will be public</span
      >'</b
    >
  </p>
  <p>
    ariaLabelClearIcon set to:
    <b>'<span id="id-clear-icon-label-textarea">Clear value</span>'</b>
  </p>

  <centric-textarea2
    [(ngModel)]="textareaNgModelValueWithLabelledby"
    [ariaLabelledby]="'id-labelledby-textarea'"
    [ariaDescribedby]="'id-describedby-textarea'"
    [ariaLabelClearIcon]="'Clear value'"
    [placeholder]="'Add your comment here...'"
  >
  </centric-textarea2>

  <p class="wrap-content">
    Textarea value: <b>{{ textareaNgModelValueWithLabelledby }}</b>
  </p>
</section>

<section>
  <div class="demo-toggle-button">
    <centric-button-toggle-group
      (change)="onToggleGroupChange($event)"
      [size]="'small'"
    >
      <centric-button-toggle [value]="true" [checked]="isChecked"
        >with clear icon</centric-button-toggle
      >
      <centric-button-toggle [value]="false"
        >without clear icon</centric-button-toggle
      >
    </centric-button-toggle-group>
  </div>

  <centric-input-timepicker2
    [(ngModel)]="timepickerNgModelValue"
    [placeholder]="placeholder"
    [hasClearIcon]="hasClearIcon"
    (ngModelChange)="onValueChangeTimepicker($event)"
  >
  </centric-input-timepicker2>

  <p>
    Time picker value: <b>{{ timepickerNgModelValue }}</b>
  </p>
</section>

<section>
  <centric-upload-area
    message="Drag and drop 1 image here."
    extraMessage="Supports: JPG, PNG and other image files"
    [buttonText]="filesList.length > 0 ? 'Replace image' : 'Upload image'"
    [files]="filesList"
    [id]="'id-input-element-upload-area'"
    testButtonUploadId="id-button-upload"
    (filesUploaded)="getUploadedFiles($event)"
  ></centric-upload-area>
  <centric-alert
    *ngIf="hasAlert"
    class="alert-container"
    [type]="'warning'"
    [hasCloseButton]="true"
    [ariaLabelCloseButton]="'Close'"
    (closed)="onCloseAlert()"
  >
    <div message>You can only upload <b>1 image</b>.</div>
  </centric-alert>
  <div
    *ngIf="filesList !== undefined && filesList.length > 0"
    class="centric-upload-files-list-container"
  >
    <div
      class="upload-files-list"
      *ngFor="let file of filesList; let i = index"
    >
      <centric-icon2 class="icon-file" svgIcon="file_r" size="48">
      </centric-icon2>
      <div class="upload-area-description file-content">
        <span> {{ file.name }}</span>
        <p class="line-clamp-1">
          Date changed: {{ currentDate | date : "dd/MM/YYYY" }}
        </p>
      </div>
      <div class="button-container">
        <centric-button
          class="demo-button"
          type="icon-button-fourth-dark"
          size="small"
          iconId="trash_r"
          testbuttonId="testid-delete-button"
          [ariaLabel]="'Remove ' + file.name + ' file'"
          (click)="deleteAttachment(i)"
        ></centric-button>
      </div>
    </div>
  </div>
  <p>Events values:</p>
  <p *ngIf="resultFilesUploaded != null && resultFilesUploaded.length != 0">
    (filesUploaded) event: <b>{{ resultFilesUploaded }}</b>
  </p>
</section>
